<%= form_for(@switch) do |f| %>
  <% if @switch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@switch.errors.count, "error") %> prohibited this switch from being saved:</h2>

      <ul>
      <% @switch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :cisco_pro_name %><br />
    <%= f.text_field :cisco_pro_name %>
  </div>
  <div class="field">
    <%= f.label :cisco_pro_com %><br />
    <%= f.text_field :cisco_pro_com %>
  </div>
  <div class="field">
    <%= f.label :sys_desc %><br />
    <%= f.text_field :sys_desc %>
  </div>
  <div class="field">
    <%= f.label :sys_name %><br />
    <%= f.text_field :sys_name %>
  </div>
  <div class="field">
    <%= f.label :sys_uptime %><br />
    <%= f.text_field :sys_uptime %>
  </div>
  <div class="field">
    <%= f.label :gathered %><br />
    <%= f.datetime_select :gathered %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
