<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @switch.id %>
</p>

<p>
  <b>Model:</b>
  <%= @switch.model %>
</p>

<p>
  <b>Cisco pro name:</b>
  <%= @switch.cisco_pro_name %>
</p>

<p>
  <b>Cisco pro com:</b>
  <%= @switch.cisco_pro_com %>
</p>

<p>
  <b>Sys desc:</b>
  <%= @switch.sys_desc %>
</p>

<p>
  <b>Sys name:</b>
  <%= @switch.sys_name %>
</p>

<p>
  <b>Sys uptime:</b>
  <%= @switch.sys_uptime %>
</p>

<p>
  <b>Gathered:</b>
  <%= @switch.gathered %>
</p>

<p>
  <b>Location:</b>
  <%= @switch.location %>
</p>


<%= link_to 'Edit', edit_switch_path(@switch) %> |
<%= link_to 'Back', switches_path %>
