<%= form_for(@vm) do |f| %>
  <% if @vm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vm.errors.count, "error") %> prohibited this vm from being saved:</h2>

      <ul>
      <% @vm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :vsid %><br />
    <%= f.number_field :vsid %>
  </div>
  <div class="field">
    <%= f.label :datacenter_id %><br />
    <%= f.number_field :datacenter_id %>
  </div>
  <div class="field">
    <%= f.label :power_state %><br />
    <%= f.check_box :power_state %>
  </div>
  <div class="field">
    <%= f.label :resource_group_id %><br />
    <%= f.number_field :resource_group_id %>
  </div>
  <div class="field">
    <%= f.label :guest_os %><br />
    <%= f.text_field :guest_os %>
  </div>
  <div class="field">
    <%= f.label :guest_family %><br />
    <%= f.text_field :guest_family %>
  </div>
  <div class="field">
    <%= f.label :guest_state %><br />
    <%= f.text_field :guest_state %>
  </div>
  <div class="field">
    <%= f.label :mem_size_mb %><br />
    <%= f.number_field :mem_size_mb %>
  </div>
  <div class="field">
    <%= f.label :num_vcpu %><br />
    <%= f.number_field :num_vcpu %>
  </div>
  <div class="field">
    <%= f.label :num_nic %><br />
    <%= f.number_field :num_nic %>
  </div>
  <div class="field">
    <%= f.label :num_disk %><br />
    <%= f.number_field :num_disk %>
  </div>
  <div class="field">
    <%= f.label :dns_name %><br />
    <%= f.text_field :dns_name %>
  </div>
  <div class="field">
    <%= f.label :host_id %><br />
    <%= f.number_field :host_id %>
  </div>
  <div class="field">
    <%= f.label :ip_address %><br />
    <%= f.text_field :ip_address %>
  </div>
  <div class="field">
    <%= f.label :boot_time %><br />
    <%= f.datetime_select :boot_time %>
  </div>
  <div class="field">
    <%= f.label :memory_overhead %><br />
    <%= f.number_field :memory_overhead %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :annotation %><br />
    <%= f.text_area :annotation %>
  </div>
  <div class="field">
    <%= f.label :aggr_commited_storage_space %><br />
    <%= f.number_field :aggr_commited_storage_space %>
  </div>
  <div class="field">
    <%= f.label :aggr_uncommited_storage_space %><br />
    <%= f.number_field :aggr_uncommited_storage_space %>
  </div>
  <div class="field">
    <%= f.label :aggr_unshared_storage_space %><br />
    <%= f.number_field :aggr_unshared_storage_space %>
  </div>
  <div class="field">
    <%= f.label :storage_space_updated_time %><br />
    <%= f.datetime_select :storage_space_updated_time %>
  </div>
  <div class="field">
    <%= f.label :rank %><br />
    <%= f.number_field :rank %>
  </div>
  <div class="field">
    <%= f.label :gathered %><br />
    <%= f.datetime_select :gathered %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
