<h1>Listing vms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Memory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vms.each do |vm| %>
  <tr>
    <td><%= vm.name %></td>
    <td><%= vm.memory %></td>
    <td><%= link_to 'Show', vm %></td>
    <td><%= link_to 'Edit', edit_vm_path(vm) %></td>
    <td><%= link_to 'Destroy', vm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vm', new_vm_path %>
