<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @vm.id %>
</p>

<p>
  <b>Vsid:</b>
  <%= @vm.vsid %>
</p>

<p>
  <b>Datacenter:</b>
  <%= @vm.datacenter_id %>
</p>

<p>
  <b>Power state:</b>
  <%= @vm.power_state %>
</p>

<p>
  <b>Resource group:</b>
  <%= @vm.resource_group_id %>
</p>

<p>
  <b>Guest os:</b>
  <%= @vm.guest_os %>
</p>

<p>
  <b>Guest family:</b>
  <%= @vm.guest_family %>
</p>

<p>
  <b>Guest state:</b>
  <%= @vm.guest_state %>
</p>

<p>
  <b>Mem size mb:</b>
  <%= @vm.mem_size_mb %>
</p>

<p>
  <b>Num vcpu:</b>
  <%= @vm.num_vcpu %>
</p>

<p>
  <b>Num nic:</b>
  <%= @vm.num_nic %>
</p>

<p>
  <b>Num disk:</b>
  <%= @vm.num_disk %>
</p>

<p>
  <b>Dns name:</b>
  <%= @vm.dns_name %>
</p>

<p>
  <b>Host:</b>
  <%= @vm.host_id %>
</p>

<p>
  <b>Ip address:</b>
  <%= @vm.ip_address %>
</p>

<p>
  <b>Boot time:</b>
  <%= @vm.boot_time %>
</p>

<p>
  <b>Memory overhead:</b>
  <%= @vm.memory_overhead %>
</p>

<p>
  <b>Description:</b>
  <%= @vm.description %>
</p>

<p>
  <b>Annotation:</b>
  <%= @vm.annotation %>
</p>

<p>
  <b>Aggr commited storage space:</b>
  <%= @vm.aggr_commited_storage_space %>
</p>

<p>
  <b>Aggr uncommited storage space:</b>
  <%= @vm.aggr_uncommited_storage_space %>
</p>

<p>
  <b>Aggr unshared storage space:</b>
  <%= @vm.aggr_unshared_storage_space %>
</p>

<p>
  <b>Storage space updated time:</b>
  <%= @vm.storage_space_updated_time %>
</p>

<p>
  <b>Rank:</b>
  <%= @vm.rank %>
</p>

<p>
  <b>Gathered:</b>
  <%= @vm.gathered %>
</p>


<%= link_to 'Edit', edit_vm_path(@vm) %> |
<%= link_to 'Back', vms_path %>
