<!DOCTYPE html>
<html>
<head>
  <title>DControl</title>
  <%unless mobile_device?%>
    <%= stylesheet_link_tag 'application' %>
  <%else%>
    <%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <%end%>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='main'>
  <div id='Header'>
    <h1>DControl</h1>
  </div>
  <div class='line'></div>
  <div class='NavBar'>
    <ul>
      <li>Home</li>
      <li>Example</li>
      <li>Links</li>
     </ul>
  </div>
  <div class='line'></div>
    <%= yield %>
  <div class='line'></div>
  </div>
</body>
</html>
