<!DOCTYPE html>
<html>
<head>
  <title>DControl</title>
  <%= stylesheet_link_tag 'application-regular' %>
  <%= javascript_include_tag 'application-regular' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='main'>
  <div id='Header'>
    <h1>DControl</h1>
  </div>
  <div class='line'></div>
  <div class='NavBar'>
    <ul>
      <li><%=link_to "Home", root_path%></li>
      <li><%=link_to "Links", links_path%></li>
      <li><%=link_to "Examples", examples_path%></li>
     </ul>
  </div>
  <div class='line'></div>
    <%= yield %>
  <div class='line'></div>
  <!--<div class='mobileChoice'>
    <% if mobile_device? %>
      <%= link_to "Full Site", :mobile => 0 %>
    <% else %>
      <%= link_to "Mobile Site", :mobile => 1 %>
    <% end %>
  </div>-->
  </div>
</body>
</html>
